ul.list__script
    li.list__script__item.script--sun.active
        .script__item__icon
        .script__desc
            p.script_item__name Выключить весь свет в доме и во дворе
    li.list__script__item.script--time
        .script__item__icon
        .script__desc
            p.script_item__name Я ухожу
    li.list__script__item.script--sun.active
        .script__item__icon
        .script__desc
            p.script_item__name Включить свет в коридоре
    li.list__script__item.script--temp.active
        .script__item__icon
        .script__desc
            p.script_item__name Набрать горячую ванну
            p.script_item__name_status Начнётся в 18:00
    li.list__script__item.script--temp.active
        .script__item__icon
        .script__desc
            p.script_item__name Сделать пол тёплым во всей квартире                