ul.list__device
    li.list__device__item.decive--sun.active
        .device__item__icon
        .device__desc
            p.device__item__name Xiaomi Yeelight LED Smart Bulb
            p.device__item__status Включено
    li.list__device__item.decive--sun
        .device__item__icon
        .device__desc
            p.device__item__name D-Link Omna 180 Cam
            p.device__item__status Включится в 17:00
    li.list__device__item.decive--temp
        .device__item__icon
        .device__desc
            p.device__item__name Elgato Eve Degree Connected
            p.device__item__status Выключено до 17:00
    li.list__device__item.decive--sun
        .device__item__icon
        .device__desc
            p.device__item__name LIFX Mini Day & Dusk A60 E27
            p.device__item__status Включится в 17:00
    li.list__device__item.decive--sun.active
        .device__item__icon
        .device__desc
            p.device__item__name Xiaomi Mi Air Purifier 2S
            p.device__item__status Включено
    li.list__device__item.decive--sun
        .device__item__icon
        .device__desc
            p.device__item__name Philips Zhirui
            p.device__item__status Выключено
    li.list__device__item.decive--sun.active
        .device__item__icon
        .device__desc
            p.device__item__name Xiaomi Mi Air Purifier 2S
            p.device__item__status Включено
    li.list__device__item.decive--temp.active
        .device__item__icon
        .device__desc
            p.device__item__name Xiaomi Warm Floor
            p.device__item__status Включено                                         