.conteiner__head
    p.conteiner__title Избранные устройства
    ul.device__tab
        li.device__tab__item.active Все
            .down
        li.device__tab__item Кухня
        li.device__tab__item Зал
        li.device__tab__item Лампочки
        li.device__tab__item Камеры
    .device__control
        .arrow__left
        .arrow__right    
include cards-device.pug