ul.footer__nav
    li.footer__nav__item
        a(href="#") Помощь
    li.footer__nav__item
        a(href="#") Обратная связь
    li.footer__nav__item
        a(href="#") Разработчикам
    li.footer__nav__item
        a(href="#") Условия использования
.copy
    span.copy__text © 2001–2017  ООО «Яндекс»            
