ul.list__device.--main
    li.list__device__item.decive--temp
        .device__item__icon
        .device__desc
            p.device__item__name Philips Cooler
            p.device__item__status Начнет охлаждать в 16:30
    li.list__device__item.decive--sun
        .device__item__icon
        .device__desc
            p.device__item__name Xiaomi Yeelight LED Smart Bulb
            p.device__item__status Включится в 17:00
    li.list__device__item.decive--sun
        .device__item__icon
        .device__desc
            p.device__item__name LIFX Mini Day & Dusk A60 E27
            p.device__item__status Включится в 17:00
.arrow-top
