p.conteiner__title.title--hiding Главное
.main__bitmap
    .bitmap__content
        h2.main__bitmap__greeting Привет, Геннадий!
        p.main__bitmap__status Двери и окна закрыты, сигнализация включена.
        .bitmap__content__weather
            .weather__home
                p.weather__title Дома
                span.weather__temp +23
            .weather__outdoors
                p.weather__title За окном
                span.weather__temp +19
                    span.weather__icon
                    


    .bitmap__list
        include main-device.pug